@model TaskManagementProj.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Project Details</h2>
<p>
    <button>@Html.ActionLink("Show all Tasks", "Details", new { id = Model.Id, isShowAll = true });</button> 
</p>
<p>
    <button>@Html.ActionLink("Hide finished Tasks", "Details", new { id = Model.Id, isShowAll = false })</button> 
</p>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Manager Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatDate)
        </dd>

    </dl>
</div>

<h3>Task List</h3>
<table class="table">
    <tr>
        <th>
            Project
        </th>
        <th>
            Developer Name
        </th>
        <th>
            Title
        </th>
        <th>
            Detail
        </th>
        <th>
            FinishedComment
        </th>
        <th>
            CompletePercentage
        </th>
        <th>
            IsCompleted
        </th>
        <th>
            Creat Date
        </th>
        <th>
            Deadline
        </th>
        <th></th>
    </tr>

    @foreach (var Task in @ViewBag.Tasks)
    {
<tr>
    <td>
        @Task.Project.Title
    </td>
    <td>
        @Task.User.Email
    </td>
    <td>
        @Task.Title
    </td>
    <td>
        @Task.Detail
    </td>
    <td>
        @Task.FinishedComment
    </td>
    <td>
        @Task.CompletePercentage
    </td>
    <td>
        @Task.IsCompleted
    </td>
    <td>
        @Task.CreatDate
    </td>
    <td>
        @Task.Deadline
    </td>
    <td>
        @Html.ActionLink("Edit", "../Tasks/Edit", new { id = Task.Id }) |
        @Html.ActionLink("Details", "../Tasks/Details", new { id = Task.Id }) |
        @Html.ActionLink("Delete", "../Tasks/Delete", new { id = Task.Id })
    </td>
</tr>
    }
</table>

<p>
    @Html.ActionLink("Creat a Task", "../Tasks/Create",new { ProjectId = Model.Id })
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

