@model IEnumerable<TaskManagementProj.Models.Notification>

@{
    ViewBag.Title = "NotificationList";
}

<h2>Notification List</h2>

<table class="table">
    <tr>
        <th>
           Project
        </th>
        <th>
            Task
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRead)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            <ul>
                <li>@Html.ActionLink("Mark Read", "MarkNotificationRead", new { id = item.Id })</li>
            </ul>
        </td>
    </tr>
}

</table>
